@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Anek Latin", sans-serif;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Anek Latin", sans-serif;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s forwards;
}

.animate-slide-out-right {
  animation: slide-out-right 0.3s forwards;
}


.slide-up {
  animation: slide-up 0.3s ease forwards;
}

.slide-down {
  animation: slide-down 0.3s ease forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.visible {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.invisible {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
